---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import AstroJS from "./icons/AstroJS.astro"
import HTML from "./icons/HTML.astro"
import Sass from "./icons/Sass.astro"
import JS from "./icons/JS.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#1A1A1A] text-white",
    icon: AstroJS,
  },
  HTML: {
    name: "HTML5",
    class: "bg-[#4B1A0C] text-white",
    icon: HTML,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#452133] text-white",
    icon: Sass,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#50491A] text-white",
    icon: JS,
  },
}
const PROJECTS = [
  {
    title: "Bodegas Maquiavelo",
    description:
      "Desarrollo de tienda online, configuración de todos los ajustes de la misma y diseño web responsivo. Mantenimiento y gestión de los pedidos a través de la web.",
    link: "https://maquiavelowines.com/",
    github: "https://github.com/juanmunozmedina/maquiavelowines",
    image: "/projects/maquiavelo.webp",
    tags: [TAGS.ASTRO],
  },
  {
    title: "Krean",
    description:
      "Desarrollo de web corporativa para Krean Group, dedicados a la arquitectura e ingeniería. Diseño web responsivo.",
    link: "https://www.krean.com/",
    image: "/projects/krean.webp",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.JS],
  },
  {
    title: "Palacios",
    description:
      "Desarrollo de web corporativa para el reconocido grupo de alimentación Palacios. Diseño web responsivo.",
    link: "https://www.palacios.us/",
    image: "/projects/palacios.webp",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.JS],
  },
  {
    title: "Sercobe",
    description:
      "Desarrollo de web corporativa para la asociación española de fabricantes de bienes de equipo. Diseño web responsivo.",
    link: "https://www.sercobe.es/",
    image: "/projects/sercobe.webp",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.JS],
  },
  {
    title: "Donosac",
    description:
      "Desarrollo de web corporativa para empresa innovadora en packaging 100% sostenible. Diseño web responsivo.",
    link: "https://www.donosac.com/",
    image: "/projects/donosac.webp",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.JS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Código
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Visualizar
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



